@media (max-width: 768px) 

    .header__imagen
        display: flex
        flex-direction: column
        width: 100%
        height: 60%

    .main__form-input 
        background-color: white
        font-size: 30px
        color: black
        margin-left: 15%
        margin-top: 5%

    .main__productos-img:hover
        filter: grayscale(80%) opacity(.5)

    .home-seccion-2 
        .contenedor-proyectos 
            .trabajo-vermas 
                .trabajo-fondo-vermas 
                    h3 
                        margin: 0px
                        margin-bottom: 15px
                        font-size: 16px
    .home-seccion-2 
        .contenedor-proyectos 
            img 
                position: absolute
                top: 0px
                left: 0px
                object-fit: cover
                height: 100%
                z-index: 2
                transition: all 0.5s
                -webkit-transition: all 0.5s

    .img-responsive
        width: 100%
        display: block
        max-width: 100%
/*******portatil************/
@media (max-width: 1024px) 
 
    .header__imagen
        display: flex
        flex-direction: column
        width: 100%
        height: 60%
    
    .main__form-input 
        background-color: white
        font-size: 35px
        color: black
        margin-left: 20%
        margin-top: 10%

    .home-seccion-2 
    .contenedor-proyectos 
        .trabajo-vermas 
            .trabajo-fondo-vermas 
                h3 
                    margin: 0px
                    margin-bottom: 15px
                    font-size: 16px
    .home-seccion-2 
        .contenedor-proyectos 
            img 
                position: absolute
                top: 0px
                left: 0px
                object-fit: cover
                height: 100%
                z-index: 2
                transition: all 0.5s
                -webkit-transition: all 0.5s
    
    .img-responsive
        width: 100%
